name: Labeler

on:
  pull_request:
    types: [labeled]

jobs:
  build:
    if: contains( github.event.label.name, 'approved')
    runs-on: ubuntu-latest

    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"

      - uses: actions/checkout@v2
      - name: Echo
        run: git status
